
body {
	font-family: 'Ubuntu', Helvetica, sans-serif;
    font-weight: 300;
    background-image: url('../images/bg.jpg');
    background-size: cover;    

}
.main-container {
    background-color: #fff;
    padding-top: 20px;
    margin-top: -20px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
.reader-container {
    padding-left: 25px;
}
.navbar-inverse {
    background-color: #2c3033;
    border:none;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #2c3033;
    border-bottom: 3px solid #73C7C7;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #2c3033;
    border-bottom: 3px solid #73C7C7;
}
.nav-brand-icon {
    margin-top: -2px;
}

.playlist-title {
    font-size: 20px;
    color: #333;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 15px;
}

.chapter p {
	font-family: Merriweather, serif;
    font-weight: 300;
    line-height: 2.4em;
    word-break: break-word;
    font-size: 1.6rem;
    margin-bottom: 1.6em;
}

.book-content .h1, .book-content .h2, .book-content .h3, .book-content h1, .book-content h2, .book-content h3 {
    margin-bottom: 10px;
    font-family: Ubuntu;
    font-weight: 300;
}

h2.title {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}

.next-section-button {
    margin-top: 5px;
    border-radius: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.title-read-button {
    font-size: 18px;
    margin-top: 20px;
    border-radius: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.next-section-text {
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.sub-item {
	margin-left:15px;
}

.list-group-item {
	background-color: #F7F7F7;
}

.searchawesome {
    font-family: FontAwesome, Ubuntu;
}

.personal-growth-metric {
    font-weight: 700;
    font-size: 24px;
}

.personal-growth-target {
    color: #bbb;
    font-size: 12px;
    float: right;
    margin-top: 10px;
}

.personal-growth-note {
    color: #000;
    font-size: 12px;
    float: right;
    margin-top: 10px;
}


