<!-- New Layout -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Learning C++ by Creating Games with UE4 - Chapter 3. Looping</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">
    <link href="css/offcanvas.css" rel="stylesheet">
    <!-- Prism -->
    <link rel="stylesheet" href="css/prism.css">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,700|Merriweather:400,300,700' rel='stylesheet' type='text/css'>
</head>


<body class="language-markup">
	<!-- Top Navigation Bar Starts-->
	<nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img class="nav-brand-icon" src="images/pl-icon.png"/></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="home.html">Featured</a></li>
            <li><a href="#">Collection</a></li>
            <li class="active"><a href="#">Viewing</a></li>
            <li><a href="#">Store</a></li>
                <form class="navbar-form navbar-left" role="search">
                <div class="input-group">
                  <input style="font-family: FontAwesome, Ubuntu;" type="text" class="form-control" placeholder="   Search the Library...">
                  <span class="input-group-btn">
                  <button class="btn btn-primary" type="button" style="font-weight: 300;">Go</button>
                  </span>
                </div>
              </form>
          </ul>
			<ul class="nav navbar-nav navbar-right">
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signed in as Oli
					 <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="#">Action</a></li>
		            <li><a href="#">Another action</a></li>
		            <li><a href="#">Something else here</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">Separated link</a></li>
		          </ul>
		        </li>
		      </ul>   
		</div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav>
    <!-- Top Navigation Bar Ends -->

    <div class="container main-container reader-container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-md-9 col-sm-8">
        	<p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Show Contents</button>
          </p>

        	<!-- Title content begins -->
        	<div style="position:relative;" class="book-content" ng-non-bindable="">
								<div class="packtlib-version v2"><!--?xml version="1.0" encoding="UTF-8"?-->

			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>Chapter&nbsp;1.&nbsp;Before We Begin</title><meta name="generator" content="DocBook XSL Stylesheets V1.74.0"><div class="chapter" lang="en" xml:lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="ch01"></a>Chapter&nbsp;1.&nbsp;Before We Begin</h2></div></div></div><p>How deliriously happy do you get when you begin a new project? Me too! The smell of a fresh new project folder is pretty exciting. Sadly, it soon devolves into a mess of folders, subfolders, and hastily written markup and before you know it, it is launch day and you realize with horror you have a page that is missing some essential metadata (uh those favicons!), some sections are unreadable in some browsers—what? It needs to look good when printed too?</p>
			<pre class="programlisting  language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ul</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>row<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
		    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span> <span class="token attr-name">ng-repeat</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>things in awesomeThings<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>{{things}}<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ul</span><span class="token punctuation">&gt;</span></span></pre>
		<p>HTML5 Boilerplate <a id="id0" class="indexterm"></a>was born out of frustration of starting from scratch and missing out the important pieces. Having a checklist is not as useful as starting with a project that already comes with the files that your checklist demands.</p><p>HTML5 Boilerplate assembles the best tools for you to get started with your next web development project.</p></div>
			</div>															
			</div>
			<!-- Title content ends -->

					<div ng-if="nextsectionshow &amp;&amp; entitled  &amp;&amp; page_type == 'section' &amp;&amp; completed != '1'" class="panel panel-default next-section  ng-scope">
						<div class="panel-body">
							<span class="col-xs-12 col-sm-12 next-section-text ng-binding"><strong>Up Next: </strong>Unit testing with Karma</span>
							<a ng-click="completeSection($event)" data-url="" class="btn btn-primary col-sm-8  col-xs-12 next-section-button" style="">
							<i class="fa fa-square-o mr15"></i>Mark this Section Complete</a><a ng-click="changePage($event)" data-url="isbn=9781783285617&amp;chapter=2&amp;section=ch02lvl1sec19&amp;section_name=Unit testing with Karma" class="btn btn-default col-sm-offset-1 col-sm-3 col-xs-12 next-section-button">Next Section</a>
						</div>
					</div>
                            <div class="col-xs-12 mt20 mb15">
                <h4>Other titles you might be interested in:</h4>
            </div>

        <!-- ngRepeat: item in related_products -->
            <div class="col-sm-2 col-xs-6">
                <a href="/packtlib/book/Web Development/9781782161820">
                    <img class="img-responsive center-block title-page-img shadowbox playlazy shadowboxfading" src="images/mean1.png" style="display: block;">
                </a>
            </div>
            <div class="col-sm-2 col-xs-6">
                <a href="/packtlib/book/Web Development/9781782161820">
                    <img class="img-responsive center-block title-page-img shadowbox playlazy shadowboxfading" src="images/mean2.png" style="display: block;">
                </a>
            </div>
            <div class="col-sm-2 col-xs-6">
                <a href="/packtlib/book/Web Development/9781782161820">
                    <img class="img-responsive center-block title-page-img shadowbox playlazy shadowboxfading" src="images/mean3.png" style="display: block;">
                </a>
            </div>
            <div class="col-sm-2 col-xs-6">
                <a href="/packtlib/book/Web Development/9781782161820">
                    <img class="img-responsive center-block title-page-img shadowbox playlazy shadowboxfading" src="images/mean4.png" style="display: block;">
                </a>
            </div>
            <div class="col-sm-2 col-xs-6">
                <a href="/packtlib/book/Web Development/9781782161820">
                    <img class="img-responsive center-block title-page-img shadowbox playlazy shadowboxfading" src="images/mean5.png" style="display: block;">
                </a>
            </div>
            <div class="col-sm-2 col-xs-6">
                <a href="/packtlib/book/Web Development/9781782161820">
                    <img class="img-responsive center-block title-page-img shadowbox playlazy shadowboxfading" src="images/mean1.png" style="display: block;">
                </a>
            </div>
        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-md-3 col-sm-4 sidebar-offcanvas" id="sidebar">
        	<form class="sidebar-search ng-pristine ng-invalid ng-invalid-required mb20">
				<input type="text" class="form-control searchawesome" placeholder="    Search this Title..." id="box">
			</form>
          <div class="list-group">
            <a href="front-page.html" class="list-group-item">HTML5 Boilerplate Development</a>
            <a href="#" class="list-group-item">Preface</a>
            <a href="#" class="list-group-item">1. Before We Begin</a>
            <a href="#" class="list-group-item">2. Starting your project</a>
            <a href="#" class="list-group-item">3. Creating your Site</a>
            	<a href="#" class="list-group-item sub-item">Adding CSS</a>
            	<a href="#" class="list-group-item active sub-item">Manipulating the DOM</a>
            	<a href="#" class="list-group-item sub-item">Including your .js files</a>
            	<a href="#" class="list-group-item sub-item">Adding and putting it all together</a>
            <a href="#" class="list-group-item">4. Adding Interactivity and Connectivity</a>
            <a href="#" class="list-group-item">5. Customizing the Apache Server</a>
            <a href="#" class="list-group-item">6. Making Your Site Better</a>
            <a href="#" class="list-group-item">7. Automate Deployment with Jenkins</a>
            <a href="#" class="list-group-item">Appendix B: Index</a>
          </div>
        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->

      <hr>

      <footer>
        <span>ISBN 9781783285617 © Packt Publishing Limited. All Rights Reserved </span>

    </div>


    <!-- JAVASCRIPT BLOCKS -->
    <!-- jQuery Script-->
    <script src="js/jquery.js"></script>
    <!-- Syntax Highlighting Script -->
    <script src="js/prism.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Offcanvas JavaScript -->
    <script src="js/offcanvas.js"></script>

</body>

</html>
